@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mobile-nav-item {
		@apply py-2 px-3 lg:p-0;
	}
	.desktop-nav-item {
		@apply py-2 pr-4 pl-3 
		text-primary-800 
		hover:bg-primary-600 
		hover:text-primary-100 
		rounded-lg
		transition-colors duration-200 ease-in-out;
	}
}
